test.py
*.txt
!config.txt
!example.txt
!requirements.txt
!resources/fonts/CourierNew.ttf.txt
resources/fonts/*
!resources/fonts/CourierNew.ttf
__pycache__/
build/
dist/
*.spec
.DS_Store
env/
bin/
Scripts/
include/
lib/
pyvenv.cfg
